@import "./node_modules/bootstrap-scss/bootstrap";
@import "./node_modules/bootstrap-scss/bootstrap-grid";
@import "./node_modules/bootstrap-scss/bootstrap-reboot";

$color-pink: #C6538C;
$grid-gutter-width: 30px;

body {
  padding-top: 70px;
  h1 {
    margin: 0;
    display: block;
    color: $color-pink;
  }

  ul.nav-docs{
    margin-top: 60px;
    h1{
      margin: 1em 0 0 0;
      padding: 10px 15px;
      font-size: 1.8rem;
    }
  }

  article.article-docs{
    h1, h2, h3, h4, h5, h6{
      margin: 1em 0;
    }
    h1{
      font-size: 3rem;
    }
    h2{
      font-size: 2.6rem;
    }
    h3{
      font-size: 2.2rem;
    }
    h4{
      font-size: 1.8rem;
    }
    p{
      margin: 1em 0;
    }
    img{
      width: 100%;
    }
  }
  footer{
    margin: $grid-gutter-width 0 0 0;
    padding: ($grid-gutter-width / 2) 0;
    border-top: 1px solid #dcdcdc;
    text-align: center;
  }
}
